/* raleway-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/raleway-v34-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/raleway-v34-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/raleway-v34-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./fonts/raleway-v34-latin_latin-ext-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('./fonts/raleway-v34-latin_latin-ext-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('./fonts/raleway-v34-latin_latin-ext-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* GENERAL */
:root {
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;

    /* set variables */
    --green: green;
    --general-grey: rgb(226, 226, 226);
    --dark-grey: rgba(93, 93, 93, 0.5);

    --border-radius: 10px;
    --main-gap-vertical: 120px;
    --main-gap-horizontal: 80px;
    --header-height: 90px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

/* General Styles */
.app-max-width {
    max-width: 1440px;
}

.margin {
    margin: 
    var(--main-gap-vertical)     /* top */
    var(--main-gap-horizontal)   /* right */
    0                               /* bottom */
    var(--main-gap-horizontal);  /* left */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: black;
}

.show-mobile {
    display: none;
}
.hide-mobile {
    display: flex;
}

/* Font Styles */
/* FONT FAMILY */
h1 {
    font-size: 36px;
    margin: 0 0 35px 0;
    padding: 0;
}

h2 {
    font-size: 24px;
    margin: 0 0 35px 0;
    padding: 0;
}

h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Header styles */
header {
    display: flex;
    height: var(--header-height);
    border-bottom: 1px solid var(--dark-grey);
    position: fixed; 
    filter: drop-shadow(0px 2px 10px var(--dark-grey));
    width: 100%;
    justify-content: center;
    background-color: white;
    z-index: 99;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 var(--main-gap-horizontal);
}

.header-container a,
.main-logo {
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.main-logo:hover {
    transform: scale(0.99);
}

.nav-bar {
    display: flex;
    gap: 30px;
    height: 100%;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.nav-bar a {
    box-sizing: border-box;
    display: flex;
    padding: 0 0 10px 0;
    border-bottom: 4px solid transparent;
}

.nav-bar a:hover {
    cursor: pointer;
    color: green;
    border-bottom: 4px solid green;
}

/* burger menu */
.hamburger-menu-btn {
    flex-direction: column;
    height: 25px;
    min-width: 40px;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
}

.hamburger-line {
    height: 4px;
    border-radius: var(--border-radius);
    background-color: green;
}

/* slider nav bar */
.nav-bar-slider {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
    right: 0;
    padding: calc(var(--header-height) + 40px) 20px 40px 20px;
    background-color: rgba(255, 255, 255, 0.99);
    border-radius: 0 0 0 var(--border-radius);
    border-left: 1px solid var(--dark-grey);
    border-bottom: 1px solid var(--dark-grey);
    filter: drop-shadow(0px 2px 10px var(--dark-grey));
    transition: all 0.5s ease;
}

.slider-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.slider-menu li a {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background-color: green;
    color: white;
}

.hidden-top {
    transform: translateY(-100%);
    filter: drop-shadow(0px 2px 10px var(--dark-grey));
}

/* Main Styles */
main {
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.section-menu-highlight {
    display: flex;
    gap: 3vmin;
    height: 25vmax;
    max-height: 398px;
    align-items: center;
}

.highlight-img {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.highlight-txt {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 95%;
}

.highlight-txt a {
    position: absolute;
}

.general-btn {
    display: flex;
    padding: 10px 25px;
    bottom: 0;
    color: white;
    background-color: green;
    width: 140px;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;
}

.general-btn:hover,
.slider-menu li a:hover {
    background-color: rgb(0, 160, 0);
}

/* section recipes */
.recipe-layout {
    background-color: var(--general-grey);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}

.section-recipe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--main-gap-horizontal);
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

.recipe-container li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.recipe-container li a{
    transition: all 0.3s ease;
}

.recipe-container li a:hover {
    cursor: pointer;
    color: green;
    transform: scale(0.99);
}

.recipe-container img {
    height: 20vw;
    max-height: 288px;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    object-fit: cover;
}

/* tips */
.section-tips {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tips-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    padding: 0;
    margin: 0 0 var(--main-gap-horizontal) 0;
}

.tips-container li {
    max-height: 288px;
}  

.tips-img {
    height: 20vw;
    max-height: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.tips-txt {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-right: 4vw;
    grid-row-start: 1;
    max-height: 100%;
    padding: 1% 2vmin 1% 0;
}

/* Footer styles */
footer {
    display: flex;
    background-color: rgb(57, 57, 57);
    width: 100%;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--main-gap-horizontal);
    margin: 0 auto;
}

.footer-logo {
    height: 60px;
    transition: all 0.4s ease;
}
.footer-logo:hover,
.social-media li a img:hover {
    filter: drop-shadow(0px 0px 4px green);
}

.social-media li a img:hover {
    transform: scale(0.93);
}
.footer-logo:hover {
    transform: scale(0.99);
}

.social-media {
    display: flex;
    gap: 15px;
    padding: 0;
}

.social-media li a img {
    height: 36px;
    transition: all 0.4s ease;
}

.footer-left p {
    padding-top: 3px;
    color: white;
}

.footer-left a {
    font-size: 16px;
    color: green;
    transition: all 0.4s ease;
}

.footer-left a:hover {
    color:rgb(0, 160, 0);
}

@media screen and (max-width: 1000px) {
    :root {
        --main-gap-vertical: 60px;
    }
    .show-mobile {
        display: flex;
    }
    .hide-mobile {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    :root {
        --main-gap-horizontal: 24px;
        --main-gap-vertical: 50px;
        --header-height: 70px;
    }

    .main-logo {
        aspect-ratio: 3/1;
        height: 90%;

    }
    .section-menu-highlight{
        flex-direction: column;
    }
    .highlight-txt h2 {
        margin-top: 18px;
    }
    .highlight-txt a {
        position: relative;
    }

    .general-btn {
        margin: 30px 0;
    }

    .section-menu-highlight {
        height: auto;
        max-height: 100%;
    }
    
    .highlight-img {
        height: 60%;
        max-height: 300px;
        width: 100%;
    }

    .highlight-txt {
        height: auto;
    }
    /* Was neues */
    .section-recipe-list {
        width: 100%;
    }
    
    .recipe-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .recipe-container h3 {
        margin-top: 5px;
    }
    .recipe-container li {
        flex-direction: column;
    }

    .recipe-container .gap {
        display: none;
    }
    .recipe-container img {
        width: 100%;
        height: auto;
        max-height: 300px;
        aspect-ratio: auto;
    }

    .tips-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    .tips-container li {
        max-height: 288px;
    }  
    
    .tips-img {
        height: 100%;
        max-height: 300px;
        width: 100%;
        aspect-ratio: auto;
    }
    
    .tips-txt {
        grid-row-start: 2;
        padding: 30px 0;
    }
}
@media screen and (max-width: 500px) {
    h2 {
        margin: 0 0 15px 0;
    }
    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-left p {
        text-align: center;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .social-media {
        margin-top: 30px;
        width: 100%;
        justify-content: center;
    }
    .calculator-input {
        padding: 20px 0;
        height: 0px;
    }
    .recipe-container {
        gap: 20px;
    }
    .general-btn {
        padding: 10px 1px;
    }
    .ingredient li:nth-child(3) {
        left: 10px;
    }
}